<!-- app/views/recipes/welcome.html.erb -->
<div class="container">
  <h1 style="font-size: 36px;"><span style="font-size: 48px;">Organize sua rotina alimentar</span></h1>
  <ul style="font-size: 24px;">
    <li><strong>Torne sua rotina mais prática e eficiente</strong> </li>
    <li><strong>Organize seu cardápio diário,semanal,quinzenal ou mensal</strong> </li>
    <li><strong>Receitas práticas e deliciosas</strong></li>
    <li><strong>Planeje refeições equilibradas</strong></li>
    <li><strong>Personalize seu cardápio</strong> </li>

  </ul>
</div>


<img src="https://res.cloudinary.com/dbtr2yaho/image/upload/v1681428743/spaghetti-g61c51cdad_1920_mtm3rt.jpg" alt="mulher" width="600" height="300">
