
  <section class="hero">
    <video id="hero-video" autoplay loop muted>
      <source class="video" src="https://res.cloudinary.com/dbtr2yaho/video/upload/c_scale,w_586/v1681427255/food-24999_hyoafp.mp4" type="video/mp4">
    </video>
  </section>
  <div class="content">
    <h1>Descubra novas receitas e planeje sua semana com praticidade. Encontre tudo o que precisa para uma alimentação saudável em um só lugar.</h1>
    <form class="search-form form-inline my-2 my-lg-0 d-flex">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
  <%# <h1 style="font-size: 36px;"><span style="font-size: 48px;">Organize sua rotina alimentar</span></h1>
  <ul style="font-size: 24px;">
    <li><strong>Torne sua rotina mais prática e eficiente</strong></li>
    <li><strong>Organize seu cardápio diário,semanal,quinzenal ou mensal</strong></li>
    <li><strong>Receitas práticas e deliciosas</strong></li>
    <li><strong>Planeje refeições equilibradas</strong></li>
    <li><strong>Personalize seu cardápio</strong></li>
  </ul> %>
