
  <section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">
          <span>Chef Day</span>
          <span class="chef-hat">👨‍🍳</span>
        </h1>
        <p class="description">Chef Day is your best ally to organize your eating routine in a practical and efficient way.
         With our calendar, you can plan your daily, weekly, biweekly, and monthly meals without wasting time and energy thinking about what to prepare for your family. In addition, our collection of numerous recipes and different preparation methods will transform your kitchen routine into a moment of creativity and pleasure, perfect for sharing with your loved ones.
          Chef Day is the ideal website for those who seek practicality and flavor in their family's eating routine
        <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-lg btn-start-now">Start Now</a>

      </div>
      <div class="col-md-6" style="margin-top: 100px;">
        <img src="https://res.cloudinary.com/dbtr2yaho/image/upload/v1681679896/1000_F_294903192_CRxuH79Ta8zPNhFigUVIRFM44QxoeuIh_ubu1wm.jpg" alt="Food Image" class="img-fluid" height="900" width="800">

      </div>
    </div>
  </div>



</section>
<style>

  .hero {
background-color: #F9F9F9;
padding: 50px 0;
}

.title {
font-size: 60px;
font-weight: bold;
margin-bottom: 70px;
}
.title {
  margin-top: 40px;
}


.chef-hat {
font-size: 60px;
margin-left: 20px;
}

.description {
font-size: 20px;
line-height: 1.2;
margin-bottom: 60px;
}

.hero img {
margin-bottom: 80px;
}
.btn-start-now {
  margin-left: 20px;
}

p {
    font-family: "Kalam", cursive;
  }

  span {
    font-family: "Pacifico", cursive;
  }

</style>
