.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: black;
}


.login-btn {
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  padding: 10px 40px;
}

.login-btn:hover {
  background-color: #0062cc;
  border-color: #005cbf;
}
