<div id="<%= dom_id meal_planning %>">
  <p>
    <strong>Title:</strong>
    <%= meal_planning.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= meal_planning.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= meal_planning.end_date %>
  </p>

</div>
